/* This Awesome CSS file was created by Font Orgranizer from Hive :) */

body { font-family: 'Varela Round'!important;   }
h1 { font-family: 'Varela Round'!important;   }
h2 { font-family: 'Varela Round'!important;   }
h3 { font-family: 'Varela Round'!important;   }
h4 { font-family: 'Varela Round'!important;   }
h5 { font-family: 'Varela Round'!important;   }
h6 { font-family: 'Varela Round'!important;   }
p { font-family: 'Varela Round'!important;   }
q { font-family: 'Varela Round'!important;   }
li { font-family: 'Varela Round'!important;   }
a { font-family: 'Varela Round'!important;   }
